MINE_TELEOP_SIGNALING_HOST=127.0.0.1
MINE_TELEOP_SIGNALING_PORT=8765
MINE_TELEOP_DRIVER_ID=driver-console-001
MINE_TELEOP_DRIVER_PASSWORD=replace-with-a-long-random-password
MINE_TELEOP_LOGIN_MAX_FAILURES=5
MINE_TELEOP_LOGIN_FAILURE_WINDOW_MS=60000
MINE_TELEOP_LOGIN_LOCKOUT_MS=300000
MINE_TELEOP_API_RATE_LIMIT_REQUESTS=600
MINE_TELEOP_API_RATE_LIMIT_WINDOW_MS=60000
MINE_TELEOP_API_RATE_LIMIT_MAX_SOURCES=4096
MINE_TELEOP_TRUSTED_PROXY_ADDRESSES=127.0.0.1,::1
MINE_TELEOP_AUDIT_LOG_MAX_BYTES=67108864
MINE_TELEOP_AUDIT_LOG_FILES=5
MINE_TELEOP_VEHICLE_ID=vehicle-001
MINE_TELEOP_DEVICE_TOKEN=replace-with-a-long-random-device-token
MINE_TELEOP_SIGNALING_HTTP_URL=http://127.0.0.1:8765
